li a {
    color: green;
}

body {
    background-image: url("images/IMG_2717.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    padding:35px;
    background-origin: content-box;
}

chart_box_template {
    width: 100px;
    background-color: yellow;
}